@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-dark: #212529;
  --primary-light: #dee2e6;
  --secondary: #6c757c;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.disable {
  display: none;
}
li {
  list-style: none;
}
