.authContainer {
  background-image: url("../../public/assets/signupBackground.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpCard,
.signinCard {
  min-width: 30%;
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.cardTitle {
  text-align: center;
  color: var(--primary-light);
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.inputWrapper,
.buttonWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.inputWrapper label {
  color: var(--primary-light);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  padding-bottom: 6px;
}
.inputWrapper input {
  padding: 8px 15px;
  font-size: 14px;
  outline: none;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  border: 1.4px solid var(--secondary);
  border-radius: 4px;
  letter-spacing: 1px;
}
.forgetPass {
  color: var(--secondary);
  font-size: 12px;
  letter-spacing: 1px;
  width: 100%;
  text-align: right;
  cursor: pointer;
  padding: 0 10px;
  transition: 0.5s ease;
}
.forgetPass:hover {
  color: var(--primary-light);
  transition: 0.5s ease;
}
.authBtns {
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: var(--primary-light);
}
.authBtns:hover {
  background-color: #f5f5f5;
  color: var(--primary-dark);
  transition: 0.6s ease;
}
.dividerWrapper {
  margin: 20px 0px 10px 0px;
  height: 1.4px;
  width: 90%;
  background-color: var(--secondary);
  border-radius: 10px;
}
.googleSignIn {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 8px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  border: 1.4px solid var(--primary-light);
  color: var(--primary-light);
  cursor: pointer;
  background-color: var(--primary-dark);
}
.AlreadyAccText {
  margin: 18px 0px 10px 0px;
  color: var(--secondary);
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}
#signinPageRedirect {
  cursor: pointer;
  transition: 0.5s ease;
  color: var(--secondary);
}
#signinPageRedirect:hover {
  color: var(--primary-light);
  transition: 0.5s ease;
}
.blockCard {
  background-color: var(--primary-dark);
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.blockTitle {
  color: var(--primary-light);
  font-size: 20px;
}
.blockBtn {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 6px;
  border: none;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
