.errorSec {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorCard {
  background-color: var(--primary-dark);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.errorCard img {
  width: 250px;
}
.errorTitle {
  font-size: 22px;
  color: var(--primary-light);
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}
.errorSubTitle {
  color: var(--primary-light);
  margin-bottom: 20px;
  margin-top: 10px;
}
.errorHomeBtn {
  background-color: var(--primary-light);
  border: none;
  margin-top: 20px;
  width: 70%;
  padding: 10px;
  border-radius: 6px;
}
.errorHomeBtn a {
  color: var(--primary-dark);
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .errorCard {
    width: 90%;
  }
  .errorTitle {
    font-size: 20px;
  }
}
